
.ltr .toolbars {float:right;}
.ltr .toolbars span.padding-1{padding-right:10px;}
.ltr .login-button {float:left;margin-right: 10px;}
.ltr .toolbars {float:right;}
.ltr .menu {float:left}
.ltr .main-menu li {float:left;}
.ltr .login-button img {padding:0 15px 0 0 ;}
.ltr .more-button {background:#d16c00 url(./images/more.png) no-repeat center right;}
.ltr .remove-filters img {padding-right:20px;}
.ltr .record-found{direction: ltr;}
.ltr #page-selection {float: left;}
.ltr .english label{float: right;}
.ltr footer img {float:right;}
.ltr .small-menu li {float:left;}
.ltr .footer-text {float:left;}
.ltr .footer-text p {text-align:left;direction: ltr;}
.ltr .footer-text span {float: left; direction: ltr;padding-right: 5px;}
.ltr .footer-text a{float: left;}
.ltr .top-scroll{left:10px;}
.ltr .has-value.is-clearable.Select--single > .Select-control .Select-value{	padding-left: 5px !important;}
.ltr .login {float: right;margin-right: 10px;}
.ltr .lang-button{float: left;}
.ltr .detail-button{min-width: 86px;}
.ltr .detail-button img{ float: left;}
.ltr table{direction: ltr;}
.ltr footer .container {background: #065cb3 url(/static/media/bg.cd6a8411.jpg) no-repeat top left;}
.ltr .name-row img {float: left;}
.ltr .name-row .name{float: left;padding:10px 0 0 10px;}
.ltr .profile , .ltr .branches{direction: ltr;}
.ltr .profile .form-content .form-group label{float: left;}
.ltr .profile .form-content .row .col-md-6{float: left;}
.ltr section.filters .col-md-3{float: left;}
.ltr section.filters{text-align: left;}
.ltr .react-autosuggest__input{text-align: left;}
.ltr .remove-filters img{float: left;}
.ltr select.form-control{ text-align-last: left;padding-left: 15px;direction: ltr;}
.ltr .grid-loading img{float: left;padding-top: 3px;}
.ltr .grid-loading span{float: left;direction: ltr;}
.ltr .small-toolbar {float: right;margin-right: 10px;}
.ltr .lang-button{float: left;font: bold 13px IRANSans;padding: 2px 9px 0 9px;}
/*.ltr .user-login{float: left;}
.ltr .user-login img{float: left;}*/
.ltr .rwd-table th {text-align:left;}
.ltr .rwd-table td {text-align:left;}

/*==========================Media Queries===========================*/

@media (max-width: 991px) {
.ltr .rwd-table td {text-align: left;}
.ltr .rwd-table td:before {text-align: left;padding-right: 20px;}
}















