/*=============================================HelpClasses=========================================== */
body {background: #e6e6e6 url(./images/pattern.png) repeat;   }
* { margin: 0;  padding: 0; }
h1, .h1, h2, .h2, h3, .h3, p {  margin: 0;  }
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('/assets/Fonts/IRANSansWeb.eot');
    src: url('/assets/Fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('/assets/Fonts/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/assets/Fonts/IRANSansWeb.ttf') format('truetype');
}
.container-fluid { padding: 0 15px;  }
.margin-auto {margin: 0 auto;  }
.text-center{text-align: center !important;}
header {background:#065cb3 url(./images/bg.jpg) no-repeat top center ;min-height:140px;padding-top:8px;}
.header {text-align: center;min-height:140px;}
.toolbars {float:left;padding-top:15px;color:#eee;font:normal 11px IRANSans; }
.toolbars span.padding-1{padding-left:10px;}
nav {background-color:#355575;}
.toolbars {float:left;padding-top:10px;color:#eee;font:normal 11px IRANSans; }
.menu {float:right}
.form-group {margin-bottom: 3px;}
 .Select div{font: normal 13px IranSans;}
.main-menu li {float:right;list-style:none;}
.main-menu li.selected {border-top:solid 3px #d16c00;}
.main-menu li a {color:#fff;font:normal 13px IRANSans;padding:6px 25px;display:block;}
.main-menu li a:hover {text-decoration:none;cursor:pointer;background-color:#244667;}
.more-button {background:#d16c00 url(./images/more.png) no-repeat center left;border-radius:3px;display:block;padding:5px 32px;color:#fff;font:normal 14px IRANSans;border:none;
margin:20px auto 0 auto;width: 172px; }
.more-button:hover{background-color:#e07706;cursor:pointer;color:#fff;text-decoration:none;}
.filters {padding:20px 0;background-color:#fff;-webkit-box-shadow: 1px 5px 34px -3px rgba(226, 226, 226,1);-moz-box-shadow: 1px 5px 34px -3px rgba(226, 226, 226,1);box-shadow: 1px 5px 34px -3px rgba(226, 226, 226,1);}
.filters label {font:normal 14px IRANSans;color:#333;margin-bottom: 0;}
.filters .form-control  {font:normal 12px IRANSans;color:#333;background-color: #efefef;cursor: pointer;}
.filters .Select-placeholder{background-color: #efefef;}
.form-control { outline: 0!important; box-shadow: none!important;}
.remove-filters {background-color:#1a5896;border-radius:3px;display:block;padding:5px 20px;color:#fff;font:normal 14px IRANSans; }
.remove-filters:hover {background-color:#1d63a9;cursor:pointer;color:#fff;text-decoration:none;}
.remove-filters img {padding-left:20px;}
.rwd-table {width:100%;}
.rwd-table th {white-space: nowrap;background-color:#647b92;color:#fff;font:normal 13px IRANSans;padding:10px !important;text-align:center;}
.rwd-table td {color:#333;font:normal 13px IRANSans;text-align:right;padding:8px !important;}
.rwd-table > tbody > tr > td { background-color: #f2f4f5;border-bottom: solid 1px #d0d0d0 ;}
.rwd-table>tbody>tr:nth-of-type(odd) td{background-color: #ffffff !important;}
.rwd-table > tbody > tr:hover > td{background-color: #dbe7ec !important;cursor: pointer;}
.certificates .rwd-table > tbody > tr:hover > td , .branches .rwd-table > tbody > tr:hover > td{cursor: default !important;}
.branches .rwd-table>tbody>tr:nth-of-type(odd) td , .certificates .rwd-table>tbody>tr:nth-of-type(odd) td{background-color: #fff !important;}
.branches .rwd-table > tbody > tr > td ,.certificates  .rwd-table > tbody > tr > td {background-color: #f2f4f5 !important;}
.branches   .form-content,.certificates  .form-content{margin-top: 0;}
.branches .rwd-table > tbody > tr > th {white-space: nowrap;}
#page-selection {text-align:center;float: right;width: 100%;}
.detail-button {border-radius:3px;color:#ab5800;border:solid 1px #ab5800;padding:2px 3px;min-width: 56px;display: block;}
.detail-button:hover {cursor:pointer;text-decoration:none;color:#ab5800;background-color:#fff4e1;}
/*.form-content {margin-top:10px;}*/
.title{margin-bottom: 3px;}
.profile .form-group {border-top: solid 1px #f3f3f3;padding-top:2px;}
.hr-inner {border-bottom:solid 1px #b3b3b3;width:45%;display: inline-block;}
.icon {text-align:center;padding-top:10px;}
.title h2 {color:#d16c00;font:normal 16px IRANSans;text-align:center;}
.farsi {background-color:#fff;}
.english {background-color:#e9e9e9;direction:ltr;}
.english label{float: left;}
.name {color:#666;font:normal 15px IRANSans;padding-right: 10px;}
.name-row {margin:10px 0 20px 0;background-color: #f3f3f3;}
.form-content .farsi  label:first-child{color:#065cb3;font:normal 14px IRANSans;}
.form-content .farsi  label{color:#333;font:normal 14px IRANSans;}
.form-content .english  label:last-child{color:#065cb3;font:normal 14px IRANSans;}
.form-content .english  label{color:#333;font:normal 14px IRANSans;}
.certificates .form-content{padding-bottom:30px;}
/*.branches .form-content{padding-bottom:30px;}*/
.certificates .rwd-table > tbody > tr > td {border-bottom: solid 1px #dedede;}
a.detail-button:focus { outline: none;text-decoration:none; outline-offset: -2px;color: #ab5800;}
.footer-nav {background-color:#355575; margin-top: 20px;}
footer{background:#065cb3;}
footer .container{background:#065cb3 url(./images/bg.jpg) no-repeat top right ;padding:10px 15px;}
footer img {float:left;}
.small-toolbar{float: left;}
.small-menu li {float:right;list-style:none;}
.small-menu li.selected {border-top:solid 3px #d16c00;}
.small-menu li a {color:#fff;font:normal 12px IRANSans;padding:10px 25px;display:block;}
.small-menu li a:hover {text-decoration:none;cursor:pointer;background-color:#244667;}
.footer-text {color:#fff;font:normal 12px IRANSans;float:right;padding-top:10px;}
.footer-text p {padding:5px 0 0 0;}
.footer-text a{color: #64bdff;}
.footer-text a:hover{color: #64d3ff;}
.Select-input {height: 32px !important;}
.Select-control{height: 32px !important;}
.bg-loading{width: 100%;height: 100%;}
.loading-logo{margin: 50px auto 0 auto;  position: relative;top:50px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 3s;}
@-webkit-keyframes example {  
    0%  {opacity:0.1; left:0; top:0px;}
    100%  {opacity:1; left:0; top:50px;}   
}
@keyframes example {
     0%  {opacity:0.1; left:0; top:0px;}
    100%  {opacity:1; left:0; top:50px;}
}
.loading-gif{margin: 0 auto;}
.full-width{width: 100%;text-align: center;}
.top-scroll{bottom: 20px;right:10px;position: fixed;z-index: 999;cursor: pointer;}
.has-value.is-clearable.Select--single > .Select-control .Select-value{	padding-right: 5px !important;}
.address-fix-height{min-height: 56px;}
.rwd-table td,.rwd-table th{display: table-cell;}
.grid-loading{font: normal 12px IRANSans; border-radius: 50px;display: inline-block;margin: 50px auto;color: #5d5d5d;padding: 0 4px;border: solid 1px #999;}
.record-found{ color: #c56703;font: bold 13px IRANSans;padding-top:5px;}
.lang-button{ background-color: #fff;font: normal 13px IRANSans;padding: 2px 4px 0 4px;border: none;margin-top: 7px;color: #1a5896;}
.lang-button:hover{ background-color: #eee;}
/*.user-login span{background-color: #c56703;font: normal 11px IRANSans;padding: 0 20px;color: #fff;border-radius: 100px;margin: 0 5px;}
.user-login{float: right;margin: 10px 10px 0 10px;}*/
.red-row {color: red !important ;position: relative; display: inline-block;border-bottom: 1px dotted black;}
.red-row .tooltiptext {visibility: hidden;width: 200px;background-color: black;color: #ccc;text-align: justify;padding: 15px ;border-radius: 6px;position: absolute;z-index: 1;bottom: 100%;left: 50%;margin-left: -60px;
font:normal 12px IRANSans; }
.red-row:hover .tooltiptext {visibility: visible;}
.red-row .tooltiptext::after {content: " "; position: absolute;top: 100%;left: 50%;margin-left: -5px;border-width: 5px;border-style: solid;border-color: black transparent transparent transparent;}

.react-autosuggest__container { position: relative;}
.react-autosuggest__input {width: 100%;height: 34px;padding: 10px 20px;font-weight: 300;font-size: 16px;border: 1px solid #aaa;border-radius: 4px;font: normal 12px IRANSans;
color: #333;background-color: #efefef;}
.react-autosuggest__input--focused {outline: none;}
.react-autosuggest__input--open {border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.react-autosuggest__suggestions-container {display: none;}
.react-autosuggest__suggestions-container--open {max-height: 400px;overflow: auto;display: block; position: absolute;top: 35px;width: 280px;border: 1px solid #aaa;background-color: #fff;
  font-family: Helvetica, sans-serif;font-weight: 300;font-size: 16px;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;z-index: 2;font-size: 16px;
  border: 1px solid #aaa;border-radius: 4px;font: normal 12px IRANSans;}
.react-autosuggest__suggestions-list {margin: 0;padding: 0;list-style-type: none;}
.react-autosuggest__suggestion {cursor: pointer;padding: 10px 20px;}
.react-autosuggest__suggestion--highlighted {background-color: #ddd;}
/*==========================Media Queries===========================*/

@media (max-width: 480px) {
    .hr-inner{width: 35%;}
}
@media (max-width: 540px){
footer img{float: none;}
.footer-text{float: none;}
}
/*@media (max-width: 680px){
.header {
    background: transparent url(../Images/logo.png) no-repeat bottom center;
    min-height: 210px;
	}
header{padding-bottom: 20px;}
.toolbars{padding-top: 0;}
}*/
@media (min-width: 992px) and (max-width: 1199px){
.detail-button img{display: none;}
}

@media (max-width: 991px) {
.rwd-table th {display: none;}
.rwd-table td {text-align: right!important;display: block;font-size: 12px;padding: 8px !important;}
.rwd-table td:before {content: attr(data-th) " ";display: inline-block;text-align: right;font-weight: bold;color: #1f61a3;padding-left: 20px;}
.main-table td:last-child:before{content: none;}
a.detail-button{text-align: center;width: 160px;margin: 0 auto;}
.rwd-table > tbody > tr > td:last-child{border-bottom: solid 1px #aaa;}
.detail-button {margin:0 15px;}
.red-row .tooltiptext {right: 30px;left: 0;}
}

















